
#wrap{float:left;width:100%;margin:0 auto;height:auto;background: #f2f2f2;}
#top{float:left;width:100%;height:48px;border-bottom: 1px solid #ccc;float:left;background: #fff;}
#top a {display: block;float: left;height:48px;width:50px;cursor: pointer;margin-left: 4.8%;}
#top a img{float:left;height:40%;margin-top: 14px;}
#top h2{display: inline-block;line-height: 48px;color:#444;font-weight: lighter;
		margin-left: 26%;font-size: 1.6em;}

.list{float:left;width:100%;height:170px;background: #fff;}
.listnum{border-bottom: 1px solid #eee;height:40px;}
.list p{display: inline-block;line-height: 40px;color: #444;margin-left: 5.6%;}
.list span{float:right;line-height: 40px;color: #888;margin-right: 5.5%;}

.list .product{float:left;width:100%;height:125px;}
.list .product .img{float:left;display: inline-block;margin-left: 4.8%;margin-top:8px;height:48%;width:27%;}

.list .product .list_msg{float:left;display: inline-block;width:66.2%;background:;height:116px;
						line-height: 1;}
.list .product .list_msg h3{float:left;font-weight: lighter;width:40%;overflow:hidden;text-overflow:ellipsis;color: #444;
							margin-left:2.4%;display: inline-block;margin-top:10px;font-size: 1.4em}
.list .product .list_msg img{float:right;height:19%;margin-top:9px;}
.list .product .list_msg p{float:left;font-size: 2em;font-weight: bolder;
							color: #eb1d66;width:60%;margin-left: 2.4%;line-height: 1.5;}
.list .product .list_msg ul{float:left;width:100%;line-height: 1.5;padding-left: 2.4%}
.list .product .list_msg ul li{width:50%;float:left;}
.list .product .list_msg button{margin-left: 2.4%;float: left;width:50px;height:20px;color: #fff;font-size: 1em;margin-top: 2px;}
.list .product .list_msg .fu{background: #4a90e2;border:0;}
.list .product .list_msg .shou{background: #d5d5d5;border:0;}
.list .product .list_msg span{font-size: 1.6em;color:#444;margin-top: -5px;}
.list .product li{color: #666;}
.list .product .aa{text-decoration: line-through;}

.all{float:left;background: #fff;margin-top: 10px;width:100%;height:46px;}
.all h2 {float:left;line-height: 46px;margin-left: 5%;display: inline-block;}
.all ul{width:75%;height:46px;float: left;background: ;}
.all ul li {float: left;margin-left:10%;margin-top:13px;}
.all ul li img{height:20px;}

.liuyan {float:left;width:100%;height:165px;border-bottom: 1px solid #eee;background: #fff;margin-top:10px;}
.liuyan p{margin-left:5%;margin-top:20px;font-size: 1.4em;}
.liuyan textarea{width:80%;margin-left: 10%;border: 1px solid #eee; background: #fdfdfd;height:100px;margin-top: 10px;
				border-radius: 5px;line-height: 30px;font-family: '微软雅黑';}
.add	{width:100%;height:200px;background: #fff;float:left;}
.add p  {font-size: 1.4em;margin-top: 20px;margin-left: 5%;}
.add ul	{width:92%;height:85px;margin-left:4%;margin-top:13px;}
.add ul li {width:74px;height:76px;border: 2px dashed #ccc;float: left;margin-left: 2%;background: #fdfdfd;border-radius: 7px;text-align: center;}
.add ul li a img{height:24px;margin-top:25px;}
.add ul li a {display: block;width:100%;height:100%;text-align: center;text-align: center;position: relative;}
.add ul li a input{width:100%;height:100%;position: absolute;left: 0;top:0;background: transparent;text-indent: -99999px;
					color: transparent;}
.add span{float: left;margin-left: 1%;margin-top: 33px;color: #666;}

.tuikuan{width:100%;float:left;background: #fff;height:70px;text-align: center;}
.tuikuan button{width:305px;height:46px;background: #f3a31e;border: 0;border-radius: 5px;color: #fff;font-size: 1.8em;
				font-family: '微软雅黑';cursor: pointer;}
				
.mes_choose{background: #fff;float: left;width: 12%;height: 80px;cursor: pointer;margin-left: 2%;}
.radio{position:relative;width:20px;height: 20px;border-radius: 20px;float: left;background: #fff;margin-top: 30px;margin-left: 50%;border: #919191 1px solid;}
.radio img{position:absolute;width: 30px;left:-5px;top: -5px;}
.img_hide{display: none;}



























