
#wrap{float:left;width:100%;margin:0 auto;height:auto;background: #f2f2f2;}
#top{float:left;width:100%;height:48px;float:left;background: #fff;}
#top a {display: block;float: left;height:48px;width:50px;cursor: pointer;margin-left: 4.8%;}
#top a img{float:left;height:40%;margin-top: 14px;}
#top h2{display: inline-block;line-height: 48px;color:#444;font-weight: lighter;
		margin-left: 20%;font-size: 1.6em;}

.mes{width:100%;height:auto;float: left;border-top: 1px solid #ccc;}
.mes img{max-width:100%;max-height:165px;}
.mes ul{width:100%;height:auto;margin-top: 9px;background: #fff;}
.mes ul li{width:100%;height:46px;border-bottom: 1px solid #eee;line-height: 46px;}
.mes ul li p{float: left;margin-left: 10%;font-size: 1.7em;}
.mes ul li a{float: left;margin-left: 10%;color: #444;font-size: 1.5em}
.mes ul li h2{float: left;margin-left: 10%;color: #444;font-size: 1.5em;font-weight: lighter;margin-top: 15px}

.jinbi{background: #fff;height:285px;width: 100%;margin-top: 9px;}
.jinbi .title{width:100%;height:45px;border-bottom: 1px solid #eee;line-height: 45px;}
.jinbi .title p{font-size: 1.7em;margin-left: 10%;float: left;}
.jinbi img{max-width: 85%;max-height: 190px;margin-top: 8px;float: left;margin-left: 10%;}
.jinbi a{float: left;margin-left: 10%;margin-top: 10px;color: #444;font-size: 1.4em;}

.clear{clear: both;}



























