
#wrap{float:left;width:100%;margin:0 auto;height:auto;background: #f2f2f2;}
#top{float:left;width:100%;height:48px;float:left;background: #fff;border-bottom: 1px #ccc solid}
#top a {display: block;float: left;height:48px;width:50px;cursor: pointer;margin-left: 4.8%;}
#top a img{float:left;height:40%;margin-top: 14px;}
#top h2{float:left;display: inline-block;line-height: 48px;color:#444;font-weight: lighter;
		margin-left: 26%;font-size: 1.6em;}
.nav {width:100%;height:42px;background: #f2f2f2;}
.nav ul{width: 100%;height:42px;}
.nav ul li{width:50%;line-height: 42px;height: 42px;text-align: center;float: left;}
.nav ul li a {float:left;display: block;width: 100%;height: 41px; color: #333;font-size: 1.2em}
.nav ul li a:hover{color: #eb1d66;border-bottom: 1px solid #eb1d66;}

.list{width:100%;height:206px;background: #fff;float: left;}

.list p{display: inline-block;line-height: 40px;color: #444;margin-left: 5.6%;font-size: 1.2em;}

.list .product{width:100%;height:auto;border-bottom: 1px solid #eee;min-width: 320px;float: left;}
.list .product .img{float:left;display: inline-block;margin-left: 4.8%;margin-top:8px;height:100%;width:27%;}
.list .product .img img{height:84px;max-width: 100%;}
.list .product .list_msg{float:left;display: inline-block;width:66.2%;background:;height:90px;
						line-height: 1;float: left;}
.list .product .list_msg h3{float:left;font-weight: lighter;width:40%;overflow:hidden;text-overflow:ellipsis;color: #444;
							margin-left:2.4%;display: inline-block;margin-top:10px;font-size: 1.4em;color: #000;}
.list .product .list_msg span{float:right;height:30px;display: block;width:25%;text-align: center;cursor: pointer;}
.list .product .list_msg span img{height:18px;margin-top:6px;}
.list .product .list_msg .fu{background: #eb1d66;border:0;color: #fff;margin-top: 5px;margin-bottom: 10px;}
.list .product .list_msg p{float:left;font-size: 2em;font-weight: bolder;
							color: #eb1d66;width:60%;margin-left: 2.4%;line-height: 1.5;}
.list .product .list_msg .price{width:100%;height:30px;float: left;line-height: 30px;}
.list .product .list_msg .price p{width:30%;float: left;}
.list .product .list_msg .price .aa{text-decoration: line-through;font-size: 1.2em;color: #666;}

.list .product .mes{float: left;width:66.2%;height: auto;line-height: 1;border-top: 1px dashed #ccc;}
.list .product .mes button{background: #eb1d66;color: #fff;border: 0;margin-top: 5px;float: left;margin-left: 8px;}
.list .product .mes p{float: left;width:80%;text-align: left;line-height: 1.3;margin-top: 5px;font-size: 1em;
					margin-bottom: 8px;}

.shop{width:100%;height:206px;background: #fff;float: left;}

.shop p{display: inline-block;line-height: 40px;color: #444;margin-left: 5.6%;font-size: 1.2em;}

.shop .shop_list{width:100%;height:auto;border-bottom: 1px solid #eee;min-width: 320px;float: left;}
.shop .shop_list .img{float:left;display: inline-block;margin-left: 4.8%;margin-top:8px;height:100%;width:27%;position: relative;}
.shop .shop_list .img img{height:84px;max-width: 100%;}
.shop .shop_list .img em{position: absolute;top:-2px;left:-2px;display: block;width:42px;height:42px;}
.shop .shop_list .img em img{height:42px;}
.shop .shop_list .shop_msg{float:left;display: inline-block;width:66.2%;height:90px;line-height: 1;float: left;}
.shop .shop_list .shop_msg h3{float:left;font-weight: lighter;width:40%;overflow:hidden;text-overflow:ellipsis;color: #444;
							margin-left:2.4%;display: inline-block;margin-top:10px;font-size: 1.4em;color: #000;}
.shop .shop_list .shop_msg span{float:right;height:30px;display: block;width:25%;text-align: center;cursor: pointer;}
.shop .shop_list .shop_msg span img{height:18px;margin-top:6px;}
.shop .shop_list .shop_msg ul{width:80%;height:25px;float: left;}
.shop .shop_list .shop_msg ul li{width:16%;text-align: center;height:25px;float: left;}
.shop .shop_list .shop_msg ul li img{height:18px;max-width: 100%;}
.shop .shop_list .shop_msg p{float: left;width: 60%;}

.shop .shop_list .mes{float: left;width:66.2%;height:auto;line-height: 1;border-top: 1px dashed #ccc;margin-bottom: 10px;}
.shop .shop_list .mes button{background: #eb1d66;color: #fff;border: 0;margin-top: 5px;float: left;margin-left: 8px;}
.shop .shop_list .mes p{float: left;width:80%;text-align: left;line-height: 1.3;margin-top: 5px;font-size: 1em;}

.content{display: none}
.ka .selected{color: #eb1d66;border-bottom: 1px solid #eb1d66;}
.clear{clear: both;}



























