
#wrap{float:left;width:100%;margin:0 auto;height:auto;background: #f2f2f2;}
#top{float:left;width:100%;height:48px;float:left;background: #fff;}
#top a {display: block;float: left;height:48px;width:50px;cursor: pointer;margin-left: 4.8%;}
#top a img{float:left;height:40%;margin-top: 14px;}
#top h2{float:left;display: inline-block;line-height: 48px;color:#444;font-weight: lighter;
		margin-left: 26%;font-size: 1.6em;}

.nav {width:100%;height:42px;}
.nav ul{width: 100%;height:42px;}
.nav ul li{width:33.33%;line-height: 42px;height: 42px;text-align: center;float: left;}
.nav ul li a {float:left;display: block;width: 100%;height: 40px; color: #333;font-size: 1.4em;}
.nav ul .two{width:32%;border-left: 1px solid #fff;border-right: 1px solid #fff; }
.nav ul li a:hover{color: #eb1d66;border-bottom: 2px solid #eb1d66;}

.nr {width: 100%;height:auto;background: #fff;float: left;min-width: 320px;}

.nr .zhi{width:100%;height:auto;float: left;}
.nr .zhi b{width: 60%;text-align: center;margin-top: 45px;margin-left: 20%;color: #888;margin-bottom: 45px;
			font-weight:lighter;display: block;}
.nr .zhi form{width:100%;height:auto;float: left;min-width: 320px;}
.nr .zhi form ul{width: 95%;margin-left: 5%;}
.nr .zhi form ul li{width: 100%;float: left;height:50px;text-align: left;height:40px;line-height: 40px;
					margin-top: 1%;}
.nr .zhi form ul li p{float: left;width:20%;display: inline-block;}
.nr .zhi form ul li input{float: left;width: 50%;height:39px;line-height: 39px;border: 0;border-bottom: 1px solid #eee;
						}
.nr .zhi form ul li h3{float: left;display: inline-block;color: #4a9eed;margin-right: 1%;}
.nr .zhi form ul li a{float: right;margin-right: 3%;width:25%;height:20px;margin-top:10px;border-left: 1px solid #eee;
						display: block;text-align: center;line-height:20px;color: #666;}
.nr .zhi form .money ul li input{width:100px;color:#4a9eed }
.nr .zhi form .money ul li span{float: left;border: 0;width:40%;}
.nr .zhi form .btn {width: 80%;float: left;margin-left: 10%;text-align: center;background: #eb1d66;
				line-height: 46px;height:46px;color:#fff;border: 0;border-radius: 5px;margin-top: 20px;
			font-family: '微软雅黑';font-size: 1.6em;cursor: pointer;}

.nr .yin{width:100%;height:auto;float: left;}
.nr .yin form{width:100%;height:auto;float: left;min-width: 320px;}
.nr .yin form ul{width: 95%;margin-left: 5%;height:auto;margin-top: 10px;}
.nr .yin form ul li{width: 100%;float: left;height:70px;text-align: left;}
.nr .yin form ul li p{width:100%;line-height: 30px;float: left;}
.nr .yin form ul li input{width: 170px;height:33px;line-height: 33px;background: #f2f2f2;float: left;border: 1px solid #ccc;}
.nr .yin form ul li select{width:170px;height:33px; background: #f2f2f2;border: 1px solid #ccc;border-radius: 0;}
.nr .yin form ul li a{float: right;margin-right: 3%;width:25%;height:20px;margin-top:10px;
						display: block;text-align: center;line-height:20px;color: #666;}
.nr .yin form .money ul li{height:40px;margin-top: 1%;line-height: 30px;}
.nr .yin form .money ul li input{width:100px;color:#4a9eed ;}
.nr .yin form .money ul li p{float: left;display: inline-block;width: 20%;}
.nr .yin form .money ul li span{float: left;border: 0;width:40%;}
.nr .yin form .money ul li h3{float: left;display: inline-block;color: #4a9eed;margin-right: 1%;width: 10%;}
.nr .yin form .btn {width: 80%;float: left;margin-left: 10%;text-align: center;background: #eb1d66;
				line-height: 46px;height:46px;color:#fff;border: 0;border-radius: 5px;margin-top: 60px;
				font-family: '微软雅黑';font-size: 1.6em;cursor: pointer;}
.clear{clear: both;}

.nr .content{display: none;}
.ka .selected{color: #eb1d66;border-bottom: 2px solid #eb1d66;}


























