
#wrap{float:left;width:100%;margin:0 auto;height:auto;background: #f2f2f2;}
.mes{width:100%;height:auto;background: #fff;}
.mes .header{width:100%;height:300px;text-align: center;}
.mes .header img{min-width: 320px;max-width: 414px;height:300px;width:100%;position: relative;}
.mes p{width:90%;margin-left: 5%;margin-top: 8px;margin-bottom: 6px;}
.mes .detail{width: 100%;height:100px;border-top: 1px solid #eee;}
.mes .detail h1{color: #eb1d66;font-weight: lighter;margin-left: 5%;font-size: 2em;margin-top: 5px;}
.mes .detail ul{width:100%;float: left;height:auto;}
.mes .detail ul li{width:100%;float: left;height:25px;line-height: 25px;}
.mes .detail ul li p{float: left;margin-left: 5%;line-height: 1;display: inline-block;width:50%;color: #333;font-size: 1.4em}
.mes .detail ul li span{float: right;margin-right: 5%;color: #666;font-size: 1.4em}
.mes .detail ul li span b{font-weight: lighter;}
.mes .detail .line{text-decoration: line-through;}
.mes .fanhui{position: absolute;top:15px;left: 15px;}
.mes .fanhui img{height:36px;}
.mes .fenxiang {position: absolute;top:15px;right: 15px;}
.mes .fenxiang  img{height:36px;}

.hh{width:100%;height:40px;float: left;line-height: 40px;}
.hh ul{width: 95%;margin-left: 4%;height:40px;}
.hh ul li{width:25%;float: left;height:40px;}
.hh ul li img{float: left;height:13px;margin-right: 2%;margin-top: 14px;}

.guige{width:100%;height:45px;float: left;background: #fff;line-height: 45px;}
.guige p{float: left;margin-left: 5%;font-size: 1.4em}
.guige b{float: left;color: #666;font-size: 1.2em}
.guige span{display: block;width: 45px;height: 45px;cursor: pointer;float: right;margin-right: 5%;}
.guige span img{margin-top: 16px;float: right;height: 13px;}

.list{width:100%;height:auto;float: left;background: #fff;margin-top: 10px;}
.list .title{width:100%;height:40px;line-height: 40px;}
.list .title p{margin-left: 5%;}
.list .pingjia{width:100%;height:auto;float: left;border-top: 1px solid #eee;display: none;}
.list .pingjia img{height:28px;margin-top: 8px;margin-left: 5%;margin-right:3%;float: left;}
.list .pingjia  h2{float: left;margin-top: 10px;width:40%;font-weight: lighter;color: #5899ed;}
.list .pingjia  span{float: right;margin-right: 3%;margin-top: 10px;color: #666;font-size: 1.2em;}
.list .pingjia  p{float:left;width:90%;color: #666;font-size: 1.4em;margin-left: 5%;}
.list .pingjia  b{float: left;font-weight: lighter;font-size: 1.2em;}
.list .pingjia  ul{width:90%;height:auto;float: left;margin-top: 10px;margin-bottom: 5px;margin-left: 4%;}
.list .pingjia  ul li{float: left;width:24%;height:90px;margin-left: 1%;}
.list .pingjia  ul li img{max-width:100%;height: 86px;border: 1px solid #eee; float: left;margin-top: 0;}
.list a{display: block;width:100%;height:30px;float: left;color: #444;line-height: 30px;
		text-align: center;margin-bottom: 75px;text-align: center;}
.list a span{margin-top: 0;margin-left: 1%;}
.list a img{height:12px;margin-left:1%;margin-top: 10px;}

.bottom{width: 100%;height:67px;position: fixed;bottom: 0;left: 0;background: #f2f2f2;min-width: 320px;}
.bottom a{display: block; width:120px;height:35px;background: #eb1d66;text-align: center;color: #fff;line-height: 35px;
			font-family: '微软雅黑';border-radius: 5px;float: left;margin-left: 5%;margin-top: 16px;}
.bottom .addcart{background: #fc873a;}
.bottom .cart{float:right;margin-right: 1%;width:50px;background: transparent;}
.bottom .cart img{height:23px;margin-top: 6px;}
.clear{clear: both;}

.product{height:auto;background: #f2f2f2;float: left;}
.product .top{width: 100%;height:116px;float: left;background: #fff;}
.product .top h1{color: #eb1d66;margin-left: 140px;margin-top: 10px;font-weight: lighter;}
.product .top p{display: inline-block;margin-left: 140px;}
.product .top .line{text-decoration: line-through;}
.product .top .image{width:118px;height:118px; float: left;border-radius: 5px;position: fixed;left: 10px;top:-10px;
					-webkit-box-shadow:0 0 10px #ccc;  
				    -moz-box-shadow:0 0 10px #ccc;  
				    box-shadow:0 0 10px #ccc; background: #fff;}
.product .top .image img{height:82px;width:90%;margin-left: 5%;float: left;margin-top: 7px;}
.product .top .image p{line-height: 30px;width: 100%;text-align: center;margin-left: 0;font-size: 1.4em}

.product .mid{width:100%;height:auto;background: #fff;margin-top: 10px;float: left;}
.product .mid  p{float: left;margin-left: 5%;line-height: 40px;}
.product .mid  ul{width: 100%;height:auto;border-top: 1px solid #eee;float: left;margin-bottom: 10px;}
.product .mid  ul li {width:107px;height:40px;background: #eee;margin-left: 2%;margin-top: 2%;text-align: center;
						line-height: 40px;float: left;border-radius: 5px;}
.product .mid  ul li a{color: #333;font-size: 1.2em;display: block;border-radius: 5px;width:100%;height:100%;}

.product .down{width:100%;height:auto;background: #fff;margin-top: 10px;float: left;margin-bottom: 70px;}
.product .down  p{float: left;margin-left: 5%;line-height: 40px;}
.product .down  ul{width: 100%;height:auto;border-top: 1px solid #eee;float: left;margin-bottom: 10px;}
.product .down  ul li {width:40px;height:40px;background: #eee;margin-left: 2%;margin-top: 2%;text-align: center;
					line-height: 40px;float: left;border-radius: 5px;}
.product .down  ul li a{color: #333;font-size: 1.2em;display: block;border-radius: 5px;width:100%;height:100%;}

.product .mid  ul li .sel{background: #eb1d66;color: #fff;}
.product .down  ul li .sel{background: #eb1d66;color: #fff;}

.layui-layer ,.layui-anim, .layui-layer-page ,#layui-layer3{width:90%;left: 5%}




















